html, body {
  background: url(/images/cover.jpeg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'DM Sans', sans-serif;
  color: #333;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  font-weight: 700;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: tomato;
  border-color: tomato;
}

.btn-primary:hover {
  background-color: red;
  border-color: red;
}

.btn-xl {
  padding: 1rem 2rem;
}

hr {
  border-color: tomato;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 5rem;
}
